{% extends 'layout.html' %}

{% block content %}
<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">View some information on the God classes below, and click on the god class to go to the builds!</p>
  </div>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title"><a href="{{ url_for('upload_file') }}">Upload your image here!</a></h4>
        <p class="card-text">
		<h1>Upload new File</h1>
			<form action="" method=post enctype=multipart/form-data>
			  <p><input type=file name=file>
				 <input type=submit value=Upload>
			</form>
		</p>
      </div>
    </div>
  </div>
 
</div>
<!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
